containter_conmmands: 
  01_migrate: 
    command: "python3 manage.py migrate"
  02_collectstatic:
    command: "python3 manage.py collectstatic --noinput"
  03_chmod_sqlite:
    command: "chmod 666 db.sqlite"


option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: first.settings.prod
  aws:elasticbeanstalk:container:python:
    WSGIPath: first/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static": "staticfiles"
