{% extends "video_clip/layout.html" %}

{% block content %}
    <div class="container">
        <h1 class="left">{{ clip.title }}</h1> <sub class="right"> {{ clip.created_at}}</sub>
        <hr>
        
        <iframe width="1000" height="580" src="{{ clip.video_url }}" frameborder="0" allowfullscreen></iframe>
        <p>{{ clip.memo | linebreaks }}</p> 
        <br><br>
        <hr>
        <div class="detail_buttons">
            <a href="/">메인으로 돌아가기</a> | 
            <a href="{% url "edit" pk=clip.pk %}">수정하기</a> | 
            <a href="{% url "delete" pk=clip.pk %}">글 삭제하기</a> 
        </div>
    </div>
{% endblock %}